.bgcsr{
    z-index: -1;
    margin-top: -80px;
    min-height: 730px;
    width: 100%;
    background-image: url(./assets/img/green.png);
    background-repeat: no-repeat;
    background-size: 100% 730px ;
}

.bgcsr .container .row .col-12{
    margin-top: 80px;
}
.bgcsr .container  h1{
    margin-top: 150px;
    font-weight: 600;
    text-align: center;
    color: white;
}

@media (max-width: 700px){
    .bgcsr{
        background-size:contain;
        
    }
    .bgcsr .container  h1{
        font-size: 20px;
    }
}

#font{
    font-family: 'Noto Kufi Arabic', sans-serif;
    font-size: 50px;
    line-height: 75px;
}

#font2{
    font-family: Ink free;
    font-size: 35px;
}

#a1{
    color: #1ab8a4;
    font-family: 'Noto Kufi Arabic', sans-serif;
    font-weight: 600;
}

#a2{
    color: #1ab8a4;
    font-family: 'Noto Kufi Arabic', sans-serif;
    font-weight: 600;
}







